/* app.css */
  .KellySlabFont {
    font-family: 'Kelly Slab', cursive;
  }
  
  .OswaldFont {
    font-family: 'Oswald', sans-serif;
  }
  
  .RedTextShadow {
    text-shadow: 4px 3px 0 #800020;
  }

  .smRedTextShadow{
    text-shadow: 2px 1px 0 #800020;
  }
  
  
  
  